@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins"   as *;

/* ====================================
   Composant TitleHighlight
   ==================================== */
.title-highlight {
  position: relative;
  display: inline-flex;       /* center content horizontally */
  justify-content: center;
  align-items: center;        /* center content vertically */
  width: fit-content;
  animation: zoomBounceRotate 0.8s ease-out forwards;

  /* Texte droit, pas d’inclinaison */
  transform: none;

  @include respond(2xl) {
    margin: -3rem 0 2rem;
  }

  &__text {
    z-index: 1;
    margin: 0;       /* enlève la marge par défaut du <h1> */
  padding: 0;      /* si jamais un reset plus large est nécessaire */
  line-height: 1;
    font-size: 20rem;
    font-weight: 800;
    text-align: center;
    color: $dark-text;           /* valeur par défaut */
    max-width: 100%;

    @include respond(2xl) {
      padding: 0 5rem;
    }
  }

  /* ————— Modifiers ————— */
  /* Background color */
  &--bg-pink {
    &__bg {
      background-color: $pink-background;
    }
  }
  &--bg-orange {
    &__bg {
      background-color: $orange-background;
    }
  }

  /* Text color */
  &--text-dark {
    &__text {
      color: $dark-text;
    }
  }
  &--text-light {
    &__text {
      color: $light-text;
    }
  }

  /* Size variations */
  &--size-med {
    &__text {
      font-size: 20vw;

      @include respond(lg) {
        font-size: 15vw;
      }
      @include respond(2xl) {
        font-size: 17vw;
      }
    }
  }

  &--size-sm {
    &__text {
      font-size: 10vw;

      @include respond(lg) {
        font-size: 4vw;
      }
    }
  }
}
