@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.recipe-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 2rem;
  @include respond(lg) {
    padding: 0 2rem 5rem;
  }
  &__author-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    a,
    button {
      padding: 0;
    }
  }
}
