@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.all-recipes-list {
  position: relative;
  padding: 2rem;
  background-color: $light-background;
  @include respond(lg) {
    padding: 0;
  }

  &__empty {
    text-align: center;
    padding: 10rem;
    position: relative;
    z-index: 2;

    p {
      font-family: $font-main;
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 2rem;
      color: $dark-text;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    z-index: 2;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    margin: 0;
    list-style: none;
    @include respond(lg) {
      // On passe en grid 3 colonnes
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr; // <-- chaque ligne fait la même hauteur
      gap: 2rem;

      // On étire chaque enfant pour remplir sa case
      > * {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    background-color: $pink-background;
    z-index: 1;
  }
}
