@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.own-recipe-list {
  position: relative;
  padding: 0 2rem;
  @include respond(lg) {
    padding: 0 15rem;
  }

  &--empty {
    background-color: $pink-background;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    position: relative;
    z-index: 2;
    height: 15rem;

    p {
      font-family: $font-main;
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 2rem;
      color: $dark-text;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    z-index: 2;
    @include respond(lg) {
      gap: 3rem;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    margin: 0;
    @include respond(lg) {
      flex-direction: row;
      align-items: flex-start;
      gap: 5rem;
      > * {
        flex: 1;
      }
      > *:nth-child(2) {
        margin-top: 5rem;
      }
    }
  }

  &:not(.own-recipe-list--empty)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $pink-background;
    z-index: 1;
  }

  &--profile::after {
    height: 90%;
    @include respond(lg) {
      height: 70%;
    }
  }

  &--home::after {
    height: 30%;
    @include respond(lg) {
      height: 55%;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
    @include respond(lg) {
      flex-direction: row;
      justify-content: center;
      padding-bottom: 4rem;
    }

    button {
      width: auto;
    }
  }
}

.own-recipe-list--profile {
  @include respond(lg) {
    .own-recipe-list__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      padding-bottom: 5rem;
      justify-items: stretch;
      align-items: stretch;
      margin-top: 0;
      > * {
        margin-top: 0;
      }
    }
  }
}
