@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  font-family: $font-main;

  &:hover,
  &:focus {
    color: $pink-hover;
    outline: none;
  }
}

.light {
  color: $light-text;
}

.dark {
  color: $dark-text;
}
