@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/base/animations" as *;

.title-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    display: block;
    width: 4rem;
    height: 3rem;
    animation: slideFadeTop 0.6s ease-out forwards;
    animation-delay: 0s;
    opacity: 0;
  }

  h1 {
    font-family: $font-title;
    font-size: 2rem;
    font-weight: 800;
    color: $dark-text;
    margin: 0;
    position: relative;
    animation: slideFadeTop 0.6s ease-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
  }
  .title-icon__underline {
    display: block;
    width: 40%;
    height: 2px;
    background-color: $dark;
    margin: 0.5rem auto 0;
  }
}
