@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    .politique-confidentialite-link {
      text-decoration: underline;
      text-decoration-color: $pink;
      text-underline-offset: 0.25rem;
      white-space: nowrap;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include respond(lg) {
      width: 40%;
      align-self: center;
    }
  }

  &__account {
    p {
      font-family: $font-main;
      color: $pink-text;
      font-size: 1rem;
    }
    .link {
      font-family: $font-title;
      color: $light-text;
      font-size: 1.7rem;
      text-decoration: underline;
      text-decoration-color: $light;
      text-underline-offset: 0.5rem;
    }
  }
}
