@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: $light-background;

  &__container {
    background-color: $dark-background;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  h1 {
    font-size: 2rem;
    color: $light-text;
  }
}
