@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.desktop-menu {
  display: none;
  ul {
    padding: 0;
    margin: 0;
  }

  @include respond(lg) {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100; 
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $light-background;
    padding: 2rem 0rem 0rem;
    gap: 2rem;

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1rem 5rem;
      background: $light-background;
      z-index: 10;

      .item {
        display: flex;
        align-items: center;

        &.left { justify-content: flex-start; }
        &.center { 
          width: 100%;
          justify-content: center; }
        &.right { justify-content: flex-end; }

        a, button {
          color: $dark-text;
          font-family: $font-main;
          font-size: 1rem;
          font-weight: 500;
          transition: color 0.3s;

          &:hover {
            color: $pink-hover;
          }
        }
      }
    }

    &__bottom {
      margin-top: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      border-top: 1px solid $dark;
      background-color: $dark;

      .item {
        flex: 1;
        display: flex;
        align-items: center;

        &.left { justify-content: flex-start; }
        &.center { position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 230px; // même largeur que ton logo final
      display: flex;
      justify-content: center; }
        &.right { justify-content: flex-end; }

        a, span {
          text-decoration: none;
          font-family: $font-main;
          font-size: 1rem;
          font-weight: 600;
        }

        &:hover {
          color: $pink;
        }
      }

      .with-submenu {
        position: relative;

        .submenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background: $dark-background;
          border-radius: 0.5rem;
          box-shadow: 0 5px 0 $pink;
          margin-top: 0.5rem;
          padding: 1rem 0 1.5rem;
          z-index: 1000;

          li {
            padding: 1rem 2rem;

            &:hover {
              a { color: $pink-text; }
            }
          }
        }

        &.open .submenu {
          display: block;
        }
      }

      &.only-recipes {
        justify-content: center;
        margin: 0;

        .item.left {
          justify-content: center;
          flex: 0;
          white-space: nowrap;
          min-width: max-content;

          &.with-submenu {
            .submenu {
              display: none;
              flex-direction: column;
              align-items: center;
              min-width: 500px;
              left: 50%;
              transform: translateX(-50%);
            }

            &.open .submenu {
              display: flex;
            }

            .submenu li {
              text-align: center;
              width: 100%;

              a { display: inline-block; }
            }
          }
        }
      }
    }
  }
}
