@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.own-recipe-list {
  position: relative;
  padding: 0 2rem;
  background-color: $light-background;

  .user-recipe-list__empty {
    text-align: center;
    padding: 10rem;
    position: relative;
    z-index: 2;

    p {
      font-family: $font-main;
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 2rem;
      color: $dark-text;
    }
  }

  .user-recipe-list__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    z-index: 2;
  }

  .user-recipe-list__grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    background-color: $pink-background;
    z-index: 1;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    button {
      width: auto;
    }
  }
}
