@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  padding: 0 2rem;
  background-image: linear-gradient(
    to top,
    rgba($pink-background, 0.5) 0%,
    rgba($orange-background, 0.3) 50%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include respond(lg) {
    padding: 2rem 4rem;
  }
}
