.hero-nav {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow: visible;
  z-index: 200;

  &__logo {
    width: 400px;
    height: auto;
    transition: transform 0.4s ease-out;
    transform: translateY(50%) scale(3) rotate(-5deg);

    &--scrolled {
      position: fixed; // devient fixed quand il scrolle pour rester bloqué dans le menu
      top: 20px; // ajuste exactement cette valeur selon la hauteur réelle de ton menu
      justify-content: center;
      transform:  scale(0.5) rotate(0deg);
      height: auto;
      z-index: 200; // clairement au-dessus de tout
    }
  }
}