@use "@/styles/abstracts/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  @include respond(lg) {
    padding: 2rem 10rem;
  }
}
