@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.nav-link {
  font-size: 1.2rem;
  font-weight: 5300;
  font-family: $font-main;
  letter-spacing: 0.01rem;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $pink-hover;
  }
}

.light {
  color: $light-text;
}

.all-recipes {
  color: $dark-text;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: $light-background;
  border-radius: 5rem;
  border: none;
  padding: 0.5rem 1rem;
}

.dark {
  color: $dark-text;
}
