@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.profile-picture {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    border-top: 0.2rem solid $dark;
    border-left: 0.2rem solid $dark;
    border-right: 0.2rem  solid $dark;
    border-bottom: 0.8rem solid $dark;
  
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  