@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.action-button {
  font-family: $font-main;
  color: $dark-text;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: transparent;
  border: 0;
  padding: 1rem 0;
  text-decoration: underline;
  text-decoration-color: $dark;
  text-underline-offset: 0.5rem;
}
