@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.remove-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
