@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.cook-recipe-icon {
  display: flex;
  gap: 0.5rem;
  p {
    font-family: $font-main;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
