@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.cook-recipe,
.serve-recipe,
.prep-recipe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  @include respond(lg) {
    justify-content: flex-start;
  }
  &__text {
    font-family: $font-main;
    font-size: 1rem;
    font-weight: 500;
  }
}
