@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

body, html {
    cursor: none;
  }
  .Cursor {
    pointer-events: none;
    position: fixed;
    top: 0; left: 0;
    width: 0; height: 0;
    transform-origin: center center;
    mix-blend-mode: difference;
    z-index: 1000;
  }
  .Cursor span {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: $light;
  }
  