$font-main: "Montserrat", sans-serif;
$font-title: "Bunch", cursive;

$pink: #f08182;
$light: #fdf9e8;
$dark: #333333;
$orange: #fda41d;

$color-button-dark: #333333;
$pink-shadow: #f08182;
$dark-background: #333333;
$light-principal-background: #fdf9e8;

$dark-text: #333333;
$light-text: #fdf9e8;
$orange-text: #fda41d;
$pink-text: #f08182;

$pink-hover: #f08182;

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
