@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.step-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__form-submit {
    padding-bottom: 2rem;
  }

  &__title {
    font-family: $font-title;
    font-size: 2rem;
    color: $pink-text;
    margin: 0;
  }

  &__text {
    font-family: $font-main;
    color: $light-text;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    span {
      color: $pink-text;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__group-ingredients {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  &__required {
    color: $pink-text;
  }
}
