@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.categorie-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
  @include respond(lg) {
    padding: 3rem 15rem;
    a {
      margin-top: 1rem;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    h2 {
      font-size: 1.8rem;
      font-family: $font-title;
      font-weight: 700;
      margin: 0;
    }

    .underline {
      display: block;
      width: 100%;
      height: 2px;
    }
  }

  &__card {
    width: 100%;
  }

  &--dark {
    background-color: $dark-background;

    .categorie-block__title {
      h2 {
        color: $light-text;
      }

      .underline {
        background-color: $light;
      }
    }
  }

  &--light {
    background-color: transparent;

    .categorie-block__title {
      h2 {
        color: $dark-text;
      }

      .underline {
        background-color: $dark;
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    @include respond(lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;
      justify-items: stretch;
      align-items: stretch;
    }
  }
}
